main{
    
    width: 100%;
    margin-top: 4rem;

}
.back{
    background-color: white;
    /* background-image: url('./back.png'); */
    display: flex;
    max-width: 80em;
    min-width: 100%;
    margin-top: 2em;
}

