*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

header{

    background: white;
    width: 100%;

}

.blocklogo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 80em;
}

.logo{
    margin-top: 1.5em;
    height: 2em;

}


.blockpolosa{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    height: 2em;
    width: 80em;
}
.polosa{
    border-bottom: 1px solid #000000;
    width: 80em;
}   

.container2{
    /* border: 10px solid #7f00ff; */
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        height: 3em;
        width: 80em;
        
    }

div{
        color: #000000;
    }

    .about{
        width: 9em;
        color: #000000;
    }

    .type{
        width: 12em;
        color: #000000;
    }

    .contact{
        width: 11em;
        color: #000000;
    }

    .feedback{
        width: 4.5em;
        color: #000000;
    }



    