/* settings of the parent's containers */

.header{
  /* display: flex;
  flex-direction: column; */
    /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  padding-right: 20rem;
  padding-left: 20rem;
  border-bottom: 1px solid gainsboro;
}

.container{
    display: flex;
    flex-direction: row ;
}

.sources{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  text-align: center;

}


/* object's containers settings */

/* logo */
.logocont{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.logocont img{
  width: 10em;
}

/* hr */

.hr{
  width: 100%;
  margin: 0;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  /* margin: 20px 0; */
	padding: 0;
	height: 0;
  border: 0.5px solid gainsboro;
  width: 100%;
}


/* choosing menu */
.burger{
  width: 40em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
}
  
a h4{
  color: black;
  text-decoration: none;
}
  
.burger h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}
  






/* THE MOST BIGGEST SCREEN SIZE */
@media screen and (min-width: 1370px){
}



/* FROM 1280px of width */
@media screen and (min-width: 1280px) and (max-width: 1369px){
  .header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    padding-right: 15rem;
    padding-left: 15rem;
  }
  .burger h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
  }
}




/* FROM 1024px of width */
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .burger h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
  }
}



/* TO 1023px of width */
@media  only screen and (max-device-width:1023px){
  .header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 10rem;
    padding-left: 10rem;
  }
    
  .logocont{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
  }
    
  .logocont img{
    width: 8em;
  }

  .burger h4{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem ;
  }
}




/* TO 849px of width */
@media  only screen and (max-device-width:849px){
    .header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: white;
        padding-right: 7rem;
        padding-left: 7rem;
    }
    .burger h4{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0.9rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    /* .about{
      width: 10em;
    } */
}



/* TO 849px of width */
@media  only screen and (max-device-width:725px){
  .header{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background-color: white;
      padding-right: 4em;
      padding-left: 4em;
  }
  .burger h4{
      font-size: 10.5px;
      line-height: 15px;
      margin-bottom: 0.9rem;
      /* padding-right: 2rem;
      padding-left: 2rem; */
  }
}



/* PHONE'S SCREENS */
@media  only screen and (max-device-width:600px){
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
}
  
  .container{
    display: flex;
    flex-direction: row ;
  }

  .sources{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    text-align: left;
    /* margin-bottom: -11rem; */
  }

  .hr{
    width: 0;
    margin: 0;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  .logocont{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
  }
  
  .logocont img{
    /* content: url('/src/components/Header/newlogo.png'); */
    width: 5em;
    
  }




  .burger{
    order: -1;
    width: 13em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  a{
    color: rgb(175, 175, 179);
    text-decoration: none;
  }
  
  .burger h4{
    font-size: 14px;
    line-height: 17px;
    /* margin-bottom: 0.9rem; */
    color: white;
    padding-left: 0;
    padding-right: 0;
  }

  .about{
    width: 3em;
  }

  .types{
    width: 6em;
  }
  .contacts{
    width: 5.4em;
  }
  .os{
    width: 4.2em;
  }
}