*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}



/* footer{
  min-width: 80em;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 22.375em;
  background: black;
} */


